In [3]:
import setup_django
setup_django.init()

In [5]:
from movies.models import Movie

qs = Movie.objects.all().values('title', 'release_date', 'rating_avg', 'rating_count')

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(qs)
df.head(n=10)

                 title release_date rating_avg  rating_count
0                Ariel   1988-10-21       3.00            60
1  Shadows in Paradise   1986-10-16       3.09            56
2           Four Rooms   1995-12-09       2.90            68
3       Judgment Night   1993-10-15       2.74            57
4            Star Wars   1977-05-25       3.28            54
5         Finding Nemo   2003-05-30       2.88            49
6         Forrest Gump   1994-07-06       3.13            38
7      American Beauty   1999-09-15       2.65            54
8         Citizen Kane   1941-04-30       2.87            54
9   Dancer in the Dark   2000-05-17       2.95            42

In [8]:
qs.first()

{'title': 'Ariel',
 'release_date': datetime.date(1988, 10, 21),
 'rating_avg': Decimal('3.00'),
 'rating_count': 60}

In [ ]:
# df.to_csv()